<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';
                 style-src 'self' 'unsafe-inline';
                 img-src 'self' data:; connect-src 'self';
                 form-action https://formsubmit.co">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>

<body>
  <!-- Header / Navigation -->
  <header>
    <nav class="navbar">
      <a href="{{ site.baseurl }}/" class="logo">
        <img src="{{ site.baseurl }}/img/secureroots_logo.png" alt="Secure Roots Logo" />
      </a>
      <div class="mobile-nav-toggle" aria-label="Toggle navigation menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/services/">Services</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <!-- Footer / Social Links -->
  <footer>
    <div class="social">
      <a href="https://www.linkedin.com/company/secure-roots/" target="_blank">LinkedIn</a>
      <a href="https://www.instagram.com/secure.roots/" target="_blank">Instagram</a>
      <a href="https://x.com/secureroots_og" target="_blank">Twitter</a>

    </div>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  </footer>

  <script src="{{ site.baseurl }}/js/main.js"></script>
</body>

</html>